{% from 'bootstrap/form.html' import render_form %}
{% extends 'base.html' %}
{% block title %}Electronics{% endblock %}

{% block content %}

<h1>典型LED电流与配套电阻</h1>
<div class="row">
    <div class="col-sm-6">
        {{render_form(form)}}
    </div>
    <div class="col-sm-6">
        <table class="table table-hover caption-top">
            <caption>Result</caption>
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> Voltage (V)</th>
                    <td>{{ form.voltage|get_field_value|default('', True) }}</td>
                </tr>
                <tr>
                    <th scope="row"> Current (mA)</th>
                    <td>{{ current|default('', True) }}</td>
                </tr>
                <tr>
                    <th scope="row"> Resistance (Ω)</th>
                    <td>{{ resistance|default('', True) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}